/*background*/
html, body, #root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */

}
/* background*/
body {
    position: fixed;
    font-family: 'Arial', sans-serif; /* Choose a clean font */
    font-size: 16px; /* Base font size */
    font-weight: bold; /* Bold text by default */
    color: #333; /* Default text color */
    line-height: 1.5; /* Improved readability */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(123deg, #FFFFFF 0%, #00B2FF 100%), 
                      linear-gradient(236deg, #BAFF99 0%, #005E64 100%), 
                      linear-gradient(180deg, #FFFFFF 0%, #002A5A 100%), 
                      linear-gradient(225deg, #0094FF 20%, #BFF4ED 45%, #280F34 45%, #280F34 70%, #FF004E 70%, #E41655 85%, #B30753 85%, #B30753 100%), 
                      linear-gradient(135deg, #0E0220 15%, #0E0220 35%, #E40475 35%, #E40475 60%, #48E0E4 60%, #48E0E4 68%, #D7FBF6 68%, #D7FBF6 100%);
    background-blend-mode: overlay, overlay, overlay, darken, normal;
}

#root {
  position: relative;
  z-index: 1;
}
/* button form and color*/
.headerButton {
    font-size: large;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
    background-color: rgba(24, 25, 120, 1);
    transition: all 0.3s ease;
}

/*cambio color boton cuando hover*/
.headerButton:hover {
    background-color: rgba(113, 255, 207, 1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);  /* shadow for depth */
}
/*nothing?*/
.glass-background {
    
    background: rgba(255, 255, 255, 0.1);  
    backdrop-filter: blur(8px);  
    -webkit-backdrop-filter: blur(8px);  /* for Safari */
    border: 1px solid rgba(255, 255, 255, 0.2);  /* subtle border */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  /* subtle shadow */
}
/* blue buttons*/
.black-background{
    background: rgb(0, 0, 0, 0.7);  
    backdrop-filter: none;  
    -webkit-backdrop-filter: none;  
    border: 1px solid rgb(0, 0, 0); 
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.7);  
}
/* cards bold text*/
button {
    font-weight: bold; /* Makes all button text bold */
}

/* garbage code
.black-background {
    position: relative;                
    background: rgb(0, 0, 0);  
    backdrop-filter: none;  
    -webkit-backdrop-filter: none;     
    border: 1px solid rgb(0, 0, 0);    
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.7);  
    transition: box-shadow 0.3s ease, filter 0.3s ease;  
    z-index: 1;                     
}

.black-background:hover {
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);  
    filter: blur(8px);                          
}
*/
